@import '../font/style.css';

.main {
    font-family: "Poppins-SemiBold";
}

.font-medium {
    font-size: 20px;
}

h1 {
    margin-top: 0px;
}

/* Banner styles */
.bg-img {
    background: url('../img/bg2-1.jpg');
    background-repeat: no-repeat;
}

.padding{
    padding: 50px;
} 

.header {
    font-size: 3rem;
}

.desc {
    font-size: 1.5rem;
}

.white-text {
    color: white;
}

/* Icon Styles */

.icon img {
    width: 70px;
    height: 70px;
}

.icon p {
    text-shadow: 2px 2px 2px #776969;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 5px;
}

/* Content container styles */

.rounded-border {
    border: 2px solid #4a3652;
    border-radius: 1rem;
}

.space-around {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.repo-view-heading {
    color: #4f7989;
}

.repo-view-body {
    padding: 3rem;
}

/* Default View Styles */

.default-view {
    padding-top: 30px;
}

/* Modal Styles */

.modal-body .row {
    padding-bottom: 20px;
}

/* Repo List Content Styles*/

.repo-list-heading {
    font-size: 1.5rem;
}

.repo-list-owner {
    font-size: 1rem;
    color: #4f7989;
}